.hand{
     animation: wave 1s ease-in-out infinite;
}

@keyframes wave{
     0%, 100%{
          transform: rotate(0);
     }
     
     25%{
          transform: rotate(30deg);
     }
     
     75%{
          transform: rotate(-30deg);
     }
}
}
